<p>
  hello {{name}}
</p>
<ul>
  <li>Age: {{age}}</li>
  <li>Email: {{email}}</li>
</ul>

<h1>Hobbies</h1>
<ul>
  <li  *ngFor='let hobby of hobbies; let i = index'>{{i+1}}: {{hobby}} <button (click)='deleteHobby(hobby)'>x</button> </li>
</ul>

<button (click)="onClick()" >Click Me</button>

<form (submit)="addHobby(hobby.value)">
  <div class="form">
    <label for="hobby">hobby:</label>
    <input type="text" #hobby>
  </div>
</form>
<hr>
<form>
  <div>
    <label for="name">Name:</label><br>
    <input type="text" [(ngModel)]="name" name="name">
  </div>
  <div>
    <label for="age">Age:</label><br>
    <input type="number" [(ngModel)]="age" name="age">
  </div>
  <div>
    <label for="email">Email:</label><br>
    <input type="text" [(ngModel)]="email" name="email">
  </div>
</form>
